<h1>Articles Tagged with '<%= @tag.name %>'</h1>

<ul>
  <% @tag.articles.each do |article| %>
    <li><%= link_to article.title, article_path(article) %></li>
  <% end %>
</ul>

<h6>
<%= link_to "<<Back to All Articles", articles_path %></h6><br />
<h6><%= link_to "View All Tags>>", tags_path %></h6>

